# yfinance==0.2.54 
# fastapi 
# uvicorn
# numpy==1.26.4
# pandas==2.2.3
# # TA-Lib==0.6.0
# setuptools==75.8.0

python-dotenv
yfinance
fastapi 
uvicorn
numpy
ta-lib
TA-Lib

google-api-python-client
google-generativeai
pysrt
google-auth-oauthlib
google-auth-httplib2
youtube-transcript-api